* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*medida vai ser da borda*/
}

:root {
  /* define um nome qualquer para receber um texto 
  cria uma variável */

  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
}

body {
  /*
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat; //para o fundo não repitir
  background-position: top center; //a imagem começa no topo no eixo y e no eixo x começa no centro
  background-size: cover; //cobre todo espaço visível

 *Dá para agrupar todo o código acima em uma única unidade que é o background: color image repeat position/size . É um atralho para todo o código acima.
 */
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}

body * {
  /*asteristícos é um seletor universal*/
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  /*em div dá para aplicar margin auto*/
  /*height: 712px; altura tem que ser fluída, não precisa aparecer em tudo. Conforme coloca conteudo ela aumenta.
  padding-top: 56px;
  border: 1px solid red;
  */
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px; /*fica alinhado ao meio*/
  padding: 0 24px;
}

/*profile*/
#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  /*img é elemento inline e não dá para aplicar margin auto */
  width: 112px;
  /*display: block; display de visualização*/
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/*switch*/
#switch {
  position: relative;
  width: 64px;
  margin: 10px auto; /*4px*/
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute; /*sobreposição de elementos*/
  top: 50%;
  left: 0;
  z-index: 1; /*sobrepõe em andares os elementos, no caso o botão de deslizar as imagens*/
  transform: translateY(-50%);

  animation: slide-back 0.2s;
}

.light #switch button {
  animation: slide-in 0.4s forwards;
}

#switch button:hover{
  outline: 8px solid var(--highlight-color);
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/*Links*/

ul {
  list-style: none; /*para tirar os pontos que elencam a lista*/
  display: flex;
  flex-direction: column;
  gap: 16px; /*dá espaço esntre os elementos*/
}

ul li a {
  display: flex;
  justify-content: center; /*centraliza o conteico da caixa */

  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  /*site www.caniuse.com mostras quais browsers aceitam para liberar a visualização da página contruída*/

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}
/*pseudo-selector*/
ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

/*social links*/
#social-links {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color);
}

footer {
  padding: 24px;
  text-align: center;
  font-size: 14px;
}

/*Media queries -> regras de media*/

@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }
  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}

/*animation -> definir animações*/
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
